ion-row{
  margin-top: 20px;
  margin-bottom: 20px;
}

ion-grid{
  border-style: inset;
  border-width: 10px;
  height: 100%;
  border-color: #3a7be0;
}

ion-button{
  border-style: solid;
  border-radius: 10px;
}
