#success{
  background-color: #2fdf75;
  color: darkgreen;
  border-radius: 5px;
  padding: 15px;
  justify-content: space-between;
}

#fail{
  background-color: #e04055;
  color: darkred;
  border-radius: 5px;
  padding: 15px;
  justify-content: space-between;
}

ion-icon{
  font-size: 20px;
}

ion-img{
  width: 1100px;

}

#logo{
  width: 1000px;
}

img{
  width: 50px;
}
